
html{
	height: 100%
}

*{
	box-sizing: border-box;
}
body{
	background-image: url(../images/summer-clouds.jpg);
	background-size: cover;
	background-repeat: repeat;
	position: center;
	color: black;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}
.box{
	background-color: white;
	max-width: 95%;
	width: 90%;
	padding: 20px;
	margin: 30px auto;
	font-size: 18px;
	font-style: italic bold;
	box-shadow: 20px 20px 10px grey;
}

.wrapper{
  max-width: 1000px;
  margin: auto;
}
.header-image{
	background-image: url("../images/header-image2.jpg");
	height: 200px;
  width: auto;
}

div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

div ul li {
  float: left;
  border-right: 1px solid #bbb;
}

div ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div ul li a:hover {
  padding: 15px;
  background-color: blue;
}

h2 {
  text-align: center;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px blue;
}

h1 {
  font-family: 'Abril Fatface', serif;
  font-size: 46px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px blue;
}
